@import "../../styles/colors.scss";

.title-wrapper {
    text-align: center;
    color: fontColorPrimary();

    & span {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: fontColorAccent();
            left: 0;
            bottom: 0;
        }
    }
}
