@import "../../styles/colors.scss";

.header {
    display: grid;
    grid-template-columns: 8em auto;

    & .link {
        font-family: "Montserrat", sans-serif;
        letter-spacing: 0.01rem;
        padding: 1em;
        display: flex;
        align-items: center;
        color: fontColorPrimary();

        &:hover {
            background-color: #e8f2f6;
            color: fontColorAccent();
        }
    }

    & .header__title {
        display: block;
        font-weight: 700;
        letter-spacing: 0.05rem !important;

        & div:nth-child(2) {
            padding-left: 0.7em;
            color: rgba(0, 0, 0, 0.5);
        }
    }

    & .header__menu {
        float: right;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;

        & li {
            display: flex;
            list-style: none;

            & a {
                position: relative;

                &:hover {
                    &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        background-color: fontColorAccent();
                        left: 0;
                        bottom: 0;
                    }
                }

                &.active-link {
                    &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        background-color: fontColorAccent();
                        left: 0;
                        bottom: 0;
                    }
                }
            }
        }
    }
}
